

.navbar-collapse{margin-right:20px}
.navbar {
    background-color: transparent !important;
    position: absolute;
    display: flex;
    margin-left:0px;
    margin-top:25px;
    
}


.navbar-brand {
    color: yellow !important;
    font-size: 25px;
    margin-left:500px;
    text-decoration: none;
    font-family: 'Pirata One', cursive;
    
    
  }

body {
    background-color:black;
    

}

.image-container {
    position:absolute;
    top: 00px;
    left: 250px;
    width: 75%;
    height: 75%;
    color:transparent;
    

}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    color:transparent;
    
}

.navbar-nav{
    margin-left: 900px;
    margin-top: 20px;

}

.navbar-nav .nav-item {
    color: white !important;
    font-size: 18px;
    margin-left: 20px;
   
    text-decoration: none;
    
font-family: 'Roboto', sans-serif;
font-weight: bold;
    
 }

  .welcome-container {
    color:white;
    margin-left: 860px;
    margin-top: 330px;
    position:absolute;
    
  }

  .btn-one {
    display: inline-block;
    min-width: 160px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background: linear-gradient(90deg, yellow 25%, green 70%);
    background-size: 325% 150%;
    transition: all 3.3s ease;
  
    &:hover {
      background-position: -100% 0;
      color: white;
      border-color: white;
      font-family: "Pacifico", cursive;
    }

  }
  .welcome-text h1 {
    font-size: 45px;
    color: #305274;
    margin-left: -55px;
    font-family: 'Pirata One', cursive;
  }
  .white-section {
    background-color: white;
    margin-top: 690px;
    margin-left:241px;
    padding-bottom:500px; /* Add padding to the section as needed */
    position:absolute;
    height: 100px;
    width: 1394px;
    max-width: 100%;
    overflow-x: hidden;
    /* You can also set other styles for this section */
  }

 

  h2 {
    font-size: 45px;
    color: black;
    margin-left: 560px;
    margin-top:100px;
    font-family: 'Pirata One', cursive;
  }

  .welcome-text3 {
    margin-left: 90px;
    margin-top:10px;

  }

  .image-container5 i{
    width: 180%;
    height: 180%;
   
    margin-left:135px;
}


 .image-container5 {
    margin-top:-20px;
    margin-left: 56px;
 }

 .welcome-text3 h3 {
    margin-left:60px;
 }
 .grey-section {
    background-color: #F0F0F0;
    margin-top: 1190px;
    margin-left:241px;
    padding-bottom:500px; /* Add padding to the section as needed */
    position:absolute;
    height: 550px;
    width: 1394px;
    max-width: 100%;
   
    /* You can also set other styles for this section */
  }
  .image-container6 img{
    width: 100%;
    height: 290px;
    object-fit: cover; 
   
   
}
.card {
    background-color: white;
    
    
    padding: 2px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    max-width: 320px; /* Adjust the maximum width as needed */
    
}
.services1 {
  margin-left: 0px;
}

.services2 {
  margin-left: -60px;
}
.services3 {
  margin-left: -60px;
}
.services4 {
  margin-right: -60px;
}
.services5 {
  margin-right: -60px;
}
  .container5 {
    margin-left:220px;
  }
  .social-section {
    background-color: white;
    margin-top: 2220px;
    margin-left:241px;
    padding-bottom:50px; /* Add padding to the section as needed */
    position:absolute;
    height: 100px;
    width: 1394px;
    max-width: 100%;
    
    /* You can also set other styles for this section */
  }
  
      .social-section .copyrights p {
       
        font-size: 18px; /* Adjust the font size */
        margin: 10px 0; 
        margin-left: 300px;
      }

      .social-section .social-icon a {
        color: #fff; /* Icon color (white) */
        font-size: 24px; /* Adjust the icon size */
        border-radius: 50%; /* Make the icons appear in circles */
        padding: 10px; /* Add padding for the circular shape */
        background-color: #000; /* Oval background color (black) */
        display: inline-block; /* Ensure proper spacing */
        margin-left: 5px;
        padding-left: 32%;
        width: 30px; /* Set the width */
        height: 30px; /* Set the height */
     
    }

    .social-section .social-icon .fab.fa-facebook-f{
      
      padding-left: 13%;
      
   
  }
        
      
      /* Remove default list styling */
      .social-section .social-media-list {
        list-style: none;
        margin-left: -25px;
       }

      
      .social-section .social-icon a:hover {
        background-color: #555;
      }

      .social-media-list2 {
        list-style: none;
        margin-left: 143px;
        margin-top: -80px;
        width: 50px; /* Set the width */
        height: 50px
        }
       
        .container-main {
          
          padding-bottom:50px; /* Add padding to the section as needed */
          position:absolute;
          height: 1000px;
          width: 1862px;
          margin-left:-10px;
          max-width: 100%;
          overflow-x: hidden;
          /* You can also set other styles for this section */
        }

        @media (max-width: 1200px){
          .navbar-nav .nav-item {
            margin-left: 10px;
            margin-top: 20px;
            margin-bottom: 10px; /* Add spacing between menu items */
            
          }

          .navbar-brand {
            color: yellow !important;
            font-size: 29px;
            margin-left:100px;
            text-decoration: none;
            font-family: 'Pirata One', cursive;
          }
            
          .navbar-nav{
            margin-left: 570px;
            margin-top: -20px;
        
        }
        .container-main {
          
          padding-bottom:50px; /* Add padding to the section as needed */
          position:absolute;
          height: 1000px;
          width: 1675px;
          margin-left:-240px;
          margin-top:-20px;
          /* You can also set other styles for this section */
        }
        .white-section {
          background-color: white;
          margin-top: 690px;
          margin-left:11px;
          padding-bottom:500px; /* Add padding to the section as needed */
          position:absolute;
          height: 250px;
          width: 1254px;
          /* You can also set other styles for this section */
        }
        .grey-section {
          background-color: #F0F0F0;
          margin-top: 1290px;
          margin-left:12px;
          padding-bottom:500px; /* Add padding to the section as needed */
          position:absolute;
          height: 600px;
          width: 1253px;
          /* You can also set other styles for this section */
        }

        .social-section {
          background-color: white;
          margin-top: 2220px;
          margin-left:131px;
          padding-bottom:50px; /* Add padding to the section as needed */
          position:absolute;
          height: 100px;
          width: 980px;
          /* You can also set other styles for this section */
        }
        .social-section .copyrights p {
       
          font-size: 18px; /* Adjust the font size */
          margin: 10px 0; 
          margin-left: 170px;
        }

        .services1 {
          margin-left: -100px;
      }
      .services2 {
        margin-left: -25px;
      }
    
    .services3 {
      margin-left: -25PX
    }
    
     .services4 {
      margin-left: -100px;
  }
  .services5 {
    margin-left: 35px;
}
.services6 {
  margin-left: 35px;
}

  
  .image-container5 {
    margin-top:-20px;
    margin-left: 156px;
 }
 .welcome-text2 {
  margin-left: -10px;
 }
 
 .welcome-text3 h3{
  margin-left:200px;
  width:50%;
  margin-top:-30px;
  display: inline-block;
}
      
     
 .welcome-text3 p{
  margin-left:200px;
  width:50%;
  margin-top:-10px;
  display: inline-block;
}

.servik {
  margin-left: -100px;
  
}
.welcome-container {
  color:white;
  margin-left: 530px;
  margin-top: 290px;
  position:absolute;
  
}
.welcome-text2 h2{
  margin-left:490px;
  
}
      }

        @media (max-width: 991px){
          .navbar-nav .nav-item {
            display: block; /* Display menu items as blocks on smaller screens */
            margin-bottom: 10px; /* Add spacing between menu items */
            
          }
          .navbar-nav{
            margin-left: 10px;
            margin-top: 20px;
        
        }
        .container-main {
          
          padding-bottom:50px; /* Add padding to the section as needed */
          position:absolute;
          height: 1000px;
          width: 1552px;
          margin-left:-390px;
          /* You can also set other styles for this section */
        }
        .white-section {
          background-color: white;
          margin-top: 690px;
          margin-left:-241px;
          padding-bottom:500px; /* Add padding to the section as needed */
          position:absolute;
          height: 250px;
          width: 1264px;
          /* You can also set other styles for this section */
        }
        .grey-section {
          background-color: #F0F0F0;
          margin-top: 1290px;
          margin-left:-241px;
          padding-bottom:500px; /* Add padding to the section as needed */
          position:absolute;
          height: 600px;
          width: 1264px;
          /* You can also set other styles for this section */
        }

        .social-section {
          background-color: white;
          margin-top: 2220px;
          margin-left:-391px;
          padding-bottom:50px; /* Add padding to the section as needed */
          position:absolute;
          height: 100px;
          width: 1394px;
          /* You can also set other styles for this section */
        }
        .social-section .copyrights p {
       
          font-size: 18px; /* Adjust the font size */
          margin: 10px 0; 
          margin-left: 100px;
        }

        .services1 {
          margin-left: 70px;
      }
      .services2 {
        margin-left: -200px;
    }
    .services3 {
      margin-left: 70px;
  }
    .services4 {
      margin-left: -200px;
  }

  .navbar-brand {
    color: yellow !important;
    font-size: 25px;
    margin-left:400px;
    text-decoration: none;
    font-family: 'Pirata One', cursive;
    
    
  }
  .image-container5 {
    margin-left: 156px;
 }
 .welcome-text2 {
  margin-left: -10px;
 }
 
 .welcome-text3 h3{
  margin-left:200px;
  width:50%;
  margin-top:-30px;
  display: inline-block;
}
      
     
 .welcome-text3 p{
  margin-left:200px;
  width:50%;
  margin-top:-10px;
  display: inline-block;
}

.servik {
  margin-left: -100px;
  
}
.welcome-container {
  color:white;
  margin-left: 380px;
  margin-top: 290px;
  position:absolute;
  
}
.welcome-text2 h2{
  margin-left:520px;
  
}
      }

      @media (max-width: 767px){
        .navbar-nav .nav-item {
          display: block; /* Display menu items as blocks on smaller screens */
          margin-bottom: 10px; /* Add spacing between menu items */
          
        }
        .navbar-nav{
          margin-left: 10px;
          margin-top: 20px;
      
      }
      .container-main {
        
        padding-bottom:50px; /* Add padding to the section as needed */
        position:absolute;
        height: 1000px;
        max-width: 1200px;
        margin-left:-10px;
        /* You can also set other styles for this section */
      }
      .white-section {
        background-color: white;
        margin-top: 690px;
        margin-left:-241px;
        padding-bottom:500px; /* Add padding to the section as needed */
        position:absolute;
        height: 350px;
        width: 1264px;
        /* You can also set other styles for this section */
      }
      .grey-section {
        background-color: #F0F0F0;
        margin-top: 1530px;
        margin-left:-241px;
        padding-bottom:500px; /* Add padding to the section as needed */
        position:absolute;
        height: 900px;
        width: 1264px;
        /* You can also set other styles for this section */
      }

      .social-section {
        background-color: white;
        margin-top: 2920px;
        margin-left:-441px;
        padding-bottom:50px; /* Add padding to the section as needed */
        position:absolute;
        height: 100px;
        width: 1394px;
        /* You can also set other styles for this section */
      }
      .social-section .copyrights p {
     
        font-size: 18px; /* Adjust the font size */
        margin: 10px 0; 
        margin-left: 100px;
      }

      .services1 {
        margin-left: 160px;
        }
    .services2 {
      margin-left: 160px;
  }
  .services3 {
    margin-left: 160px;
}


.navbar-brand {
  color: yellow !important;
  font-size: 25px;
  margin-left:400px;
  text-decoration: none;
  font-family: 'Pirata One', cursive;
  
  
}
.image-container5 {
  margin-left: 106px;
}

.welcome-text2 {
margin-left: -10px;
}

.welcome-text3 h3{
margin-left:100px;
width:50%;
margin-top:-30px;
display: inline-block;
}
    
   
.welcome-text3 p{
margin-left:100px;
width:50%;
margin-top:-10px;
display: inline-block;
}

.servik {
margin-left: -100px;

}
.welcome-container {
color:white;
margin-left: 380px;
margin-top: 290px;
position:absolute;

}
.welcome-text2 h2{
margin-left:420px;

}
    }
     
    @media (max-width: 575px){
      .navbar-nav .nav-item {
        display: block; /* Display menu items as blocks on smaller screens */
        margin-bottom: 10px; /* Add spacing between menu items */
        
      }

      
      .navbar-nav{
        margin-left: 10px;
        margin-top: 20px;
    
    }
    .container-main {
      
      padding-bottom:50px; /* Add padding to the section as needed */
      position:absolute;
      height: 1000px;
      width: 1552px;
      margin-left:-390px;
      /* You can also set other styles for this section */
    }
    .white-section {
      background-color: white;
      margin-top: 690px;
      margin-left:-241px;
      padding-bottom:500px; /* Add padding to the section as needed */
      position:absolute;
      height: 350px;
      width: 1264px;
      /* You can also set other styles for this section */
    }
    .grey-section {
      background-color: #F0F0F0;
      margin-top: 1530px;
      margin-left:-241px;
      padding-bottom:500px; /* Add padding to the section as needed */
      position:absolute;
      height: 900px;
      width: 1264px;
      /* You can also set other styles for this section */
    }

    .social-section {
      background-color: white;
      margin-top: 2920px;
      margin-left:-491px;
      padding-bottom:0px; /* Add padding to the section as needed */
      position:absolute;
      height: 140px;
      width: 1514px;
      /* You can also set other styles for this section */
    }
    .social-section .copyrights p {
   
      font-size: 15px; /* Adjust the font size */
      margin-left: 520px;
    }

    .services1 {
      margin-left: 100px;
      }
  .services2 {
    margin-left: 100px;
}
.services3 {
  margin-left: 100px;
}


.navbar-brand {
color: yellow !important;
font-size: 35px;
margin-left:300px;
text-decoration: none;
font-family: 'Pirata One', cursive;


}
.image-container5 {
margin-left: 106px;
margin-top:10px;
}

.welcome-text2 {
margin-left: -60px;
}

.welcome-text3 h3{
margin-left:70px;
width:50%;
margin-top:-30px;
display: inline-block;
}
  
 
.welcome-text3 p{
margin-left:100px;
width:50%;
margin-top:-20px;
display: inline-block;
}

.servik {
margin-left: 80px;
margin-top: -50px;

}
.welcome-container {
color:white;
margin-left: 210px;
margin-top: 290px;
position:absolute;

}
.welcome-text2 h2{
margin-left:400px;

}
  }
   
     